<form class="accent-color-settings" data-accent-color-settings>
    <label class="accent-color-settings__color">
        <span class="sr-only">default color, pink</span>
        <input type="radio" value="illusion" name="accent-color" checked>
        <span class="visual-element" aria-hidden="true"></span>
    </label>
    <label class="accent-color-settings__color">
        <span class="sr-only">desaturated yellow</span>
        <input type="radio" value="sandwisp" name="accent-color">
        <span class="visual-element" aria-hidden="true"></span>
    </label>
    <label class="accent-color-settings__color">
        <span class="sr-only">desaturated green</span>
        <input type="radio" value="mint" name="accent-color">
        <span class="visual-element" aria-hidden="true"></span>
    </label>
    <label class="accent-color-settings__color">
        <span class="sr-only">desaturated blue</span>
        <input type="radio" value="perano" name="accent-color">
        <span class="visual-element" aria-hidden="true"></span>
    </label>
</form>