{# see: http://microformats.org/wiki/h-card #}
<ul class="h-card" hidden>
    <li class="u-photo">{{ '/assets/img/portrait.jpeg' | url }}</li>
    <li class="u-url">{{ meta.site.domain }}</li>
    <li class="p-name">{{ meta.personal.name }}</li>
    <li class="p-email">{{ meta.personal.email }}</li>
    <li class="p-job-title">Design Engineer, Frontend Designer & Developer, Meditation- & Mindfulness Teacher, Counsellor in Training under Supervision</li>
    <li class="p-role">makes websites</li>
    <li class="p-country">Austria</li>
    <li class="p-locality">Vienna</li>
</ul>