<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="icon-nav-arrow" viewbox="0 0 21 14">
        <path style="stroke: var(--icon-color, currentcolor)" stroke-linejoin="round" stroke-width="2" d="M0 7h20m0 0l-6-6m6 6l-6 6"/>
    </symbol>
    <symbol id="icon-open-menu" viewbox="0 0 2 10">
        <path style="fill: var(--icon-color, currentcolor)"  d="M0 0h2v2H0zM0 4h2v2H0zM0 8h2v2H0z"/>
    </symbol>
</svg>