<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="icon-nav-arrow" viewbox="0 0 21 14">
        <path style="stroke: var(--icon-color, currentcolor)" stroke-linejoin="round" stroke-width="2" d="M0 7h20m0 0l-6-6m6 6l-6 6"/>
    </symbol>
    <symbol id="icon-open-menu" viewbox="0 0 2 10">
        <path style="fill: var(--icon-color, currentcolor)"  d="M0 0h2v2H0zM0 4h2v2H0zM0 8h2v2H0z"/>
    </symbol>
    <symbol id="icon-location-pin" viewBox="0 0 7 13">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.5 12.505S7 8.553 7 4.545C7 1.935 5.433.494 3.5.494S0 2.142 0 4.545c0 4.336 3.5 7.96 3.5 7.96zm.069-6.52a2.059 2.059 0 100-4.117 2.059 2.059 0 000 4.117z" fill="var(--icon-color, currentcolor)"/>
    </symbol>
    <symbol id="icon-pattern-ux" viewBox="0 0 12 12">
        <path fill="url(#pattern-ux)" d="M0.5 11.5V1.20711L5.14645 5.85355L10.7929 11.5H0.5Z" stroke="#4B3339"/>
    </symbol>
    <symbol id="icon-pattern-design" viewBox="0 0 12 12">
        <rect fill="url(#pattern-design)" x=".5" y=".5" width="11" height="11" rx="5.5" stroke="#4B3339"/>
    </symbol>
    <symbol id="icon-pattern-brand" viewBox="0 0 12 12">
        <rect fill="url(#pattern-brand)" x="0.5" y="0.5" width="11" height="11" stroke="#4B3339"/>
    </symbol>
    <symbol id="icon-pattern-frontend" viewBox="0 0 12 12">
        <rect fill="url(#pattern-frontend)" x="0.5" y="0.5" width="11" height="11" stroke="#4B3339"/>
    </symbol>
    <symbol id="icon-pattern-backend" viewBox="0 0 12 12">
        <rect fill="url(#pattern-backend)" x="0.5" y="0.5" width="11" height="11" stroke="#4B3339"/>
    </symbol>
</svg>
