{%- macro pullLink(params) -%}
    <figure class="pull-link">
        <a class="pull-link__link" href="{{ params.href }}"
           {%- if params.external -%}target="_blank" rel="noopener noreferrer"{%- endif -%}
           {%- if params.me -%}rel="me"{%- endif -%}
           {%- if params.download -%}download{%- endif -%}
        >
           {{ params.text}}
        </a>
        {%- if params.caption -%}
            <figcaption class="pull-link__caption">{{ params.caption }}</figcaption>
        {%- endif -%}
    </figure>
{%- endmacro -%}