<a class="button" href="mailto:contact@thomassemmler.com?subject=Accessibility%20issue%20on%20your%20website&body=Tell%20me%20as%20much%20as%20you%20can%20%2F%20want%20about%20the%20issue%20you%20have%20ran%20into!%20Thank%20you!">
    <span class="button__text">Report #a11y issue</span>
</a>