<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="contain: strict;">
    <defs>
        <pattern id="pattern-frontend" patternUnits="userSpaceOnUse" width="6" height="6">
            <image href="/assets/img/pattern/frontend.png" x="0" y="0" width="6" height="6">
        </pattern>
        <pattern id="pattern-backend" patternUnits="userSpaceOnUse" width="13" height="13">
            <image href="/assets/img/pattern/backend.png" x="0" y="0" width="13" height="13">
        </pattern>
        <pattern id="pattern-design" patternUnits="userSpaceOnUse" width="9" height="9">
            <image href="/assets/img/pattern/design.png" x="0" y="0" width="9" height="9">
        </pattern>
        <pattern id="pattern-ux" patternUnits="userSpaceOnUse" width="4" height="4">
            <image href="/assets/img/pattern/ux.png" x="0" y="0" width="4" height="4">
        </pattern>
        <pattern id="pattern-brand" patternUnits="userSpaceOnUse" width="8" height="8">
            <image href="/assets/img/pattern/brand.png" x="0" y="0" width="8" height="8">
        </pattern>
    </defs>
</svg>