<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="0" height="0" style="contain: strict; position: absolute;">
    <defs>
        <pattern id="pattern-frontend" patternUnits="userSpaceOnUse" width="6" height="6">
            <rect x="0" y="0" width="6" height="6" fill="currentcolor" />
            <path d="M5.99713 5.28998L5.28998 5.99713L5.99711 5.99711L5.99713 5.28998Z" fill="white"/>
            <path d="M0.707153 0L0 0.707153V0H0.707153Z" fill="white"/>
            <path d="M0 5.29287L5.29285 2.32756e-05L5.99998 0L6 0.707083L0.707083 6L0 6.00002V5.29287Z" fill="white"/>
        </pattern>
        <pattern id="pattern-backend" patternUnits="userSpaceOnUse" width="13" height="13">
            <rect x="0" y="0" width="13" height="13" fill="#fff" style="fill: var(--color-accent-100)" />
            <path d="M13 0H12.2929L13 0.707108V0Z" fill="currentcolor" style="fill: var(--color-accent-300)"/>
            <path d="M0.707107 13H0V12.2929L0.707107 13Z" fill="currentcolor" style="fill: var(--color-accent-300)"/>
            <path d="M0 0.707107V0H0.707107L13 12.2929V13H12.2929L0 0.707107Z" fill="currentcolor" style="fill: var(--color-accent-300)"/>
        </pattern>
        <pattern id="pattern-design" patternUnits="userSpaceOnUse" width="9" height="9">
            <rect width="9" height="9" fill="currentcolor" style="fill: var(--color-accent-300)"/>
            <circle cx="4.5" cy="4.5" r="1.5" stroke="currentcolor" stroke-width="0.5" fill="transparent"/>
            <circle r="1.5" stroke="currentcolor" stroke-width="0.5" fill="transparent"/>
            <circle cy="9" r="1.5" stroke="currentcolor" stroke-width="0.5" fill="transparent"/>
            <circle cx="9" r="1.5" stroke="currentcolor" stroke-width="0.5" fill="transparent"/>
            <circle cx="9" cy="9" r="1.5" stroke="currentcolor" stroke-width="0.5" fill="transparent"/>
        </pattern>
        <pattern id="pattern-ux" patternUnits="userSpaceOnUse" width="4" height="4">
            <rect x="0" y="0" width="4" height="4" fill="#fff" style="fill: var(--color-accent-100)" />
            <rect x="0" y="0" width="2" height="2" fill="currentcolor" style="fill: var(--color-accent-300)" />
        </pattern>
        <pattern id="pattern-brand" patternUnits="userSpaceOnUse" width="8" height="8">
            <rect width="8" height="8" fill="#fff" style="fill: var(--color-accent-300)"/>
            <rect x="0" y="0" width="1" height="1" fill="currentcolor" />
            <rect x="7" y="7" width="1" height="1" fill="currentcolor" />
            <rect x="0" y="7" width="1" height="1" fill="currentcolor" />
            <rect x="7" y="0" width="1" height="1" fill="currentcolor" />
            <rect x="3" y="3" width="2" height="2" fill="currentcolor" style="fill: var(--color-accent-900)" />
        </pattern>
    </defs>
</svg>