@use "../tools/mixins/media" as media;

body {
    --site-border: .5em;
    font-family: var(--typeface-headings);
    color: var(--color-primary);
    border: var(--site-border) solid #fff;
    transition: background-color var(--base-animation-duration) var(--base-easing);
}

a {
    color: var(--color-highlight);
    text-decoration: underline;
    text-decoration-skip-ink: all;
    text-decoration-thickness: 15%;
}

a {
    color: inherit;
    text-decoration-color: var(--color-highlight);

    &:hover {
        text-decoration-color: var(--color-accent-700);
    }

    &.button, &.c2a {
        text-decoration: none;
    }
}

ul, ol {
    margin: 0;
    padding-inline-start: 1.25em;
}

em, i {
    font-style: italic;
    font-variation-settings: 'ital' 1;
}

strong, b {
    font-weight: bolder;
    font-weight: 550;
}