/* Accent color settings */
.accent-color-settings {
    display: none; /* If javaScript is available, it will be made visible */
    align-items: center;
    gap: 1em;

    &__color {
        display: block;
        position: relative;
        aspect-ratio: 1 / 1;
        width: 2em;

        @supports not (aspect-ratio: 1 / 1) {
            height: 2em;
        }
        
        > input {
            position: absolute;
            inset-block-start: 0;
            inset-inline-start: 0;
            margin: 0;
            width: 100%;
            height: 100%;
            opacity: 0;

            @supports not (inset-block-start: 0) {
                top: 0;
                left: 0;
            }

            &[value="illusion"] + .visual-element {
                --color: hsl(var(--color-hs-illusion) var(--color-weight-300));
            }
            
            &[value="sandwisp"] + .visual-element {
                --color: hsl(var(--color-hs-sandwisp) var(--color-weight-300));
            }
            
            &[value="mint"] + .visual-element {
                --color: hsl(var(--color-hs-mint) var(--color-weight-300));
            }
            
            &[value="perano"] + .visual-element {
                --color: hsl(var(--color-hs-perano) var(--color-weight-300));
            }

            &:checked + .visual-element {
                border-color: var(--color-primary);

                &::after {
                    width: .5em;
                }
            }
        }

        > .visual-element {
            --int-color: var(--color, var(--color-accent-300));
            display: block;
            width: 100%;
            height: 100%;
            background-color: var(--int-color);
            border-radius: 50%;
            border: 4px solid #fff;
            box-shadow: 0 6px 10px rgba(0,0,0,.25);
            transition: border-color var(--base-animation-duration) var(--base-easing);

            &::after {
                content: '';
                aspect-ratio: 1 / 1;
                width: 0;
                border-radius: 50%;
                background-color: var(--color-primary);
                position: absolute;
                inset-block-start: 50%;
                inset-inline-start: 50%;
                transform: translate(-50%, -50%);
                transition: width var(--base-animation-duration) var(--base-easing);


                @supports not (inset-block-start: 0) {
                    top: 50%;
                    left: 50%;
                }
            }
        }
    }

    @at-root :where(.accent-color-settings-menu) #{&} {
        display: block;
    }
}

.accent-color-settings-menu {
    position: absolute;
    inset-inline-start: 0%;
    inset-block-end: 100%;
    background-color: #fff;
    padding: 1.25em;
    display: flex;
    flex-direction: column;
    gap: .5em;
    border-radius: 5px;
    box-shadow: 0 6px 10px rgba(0,0,0,.25);
    transform: translateY(-1em);

    @supports not (inset-block-start: 0) {
        left: 0;
        bottom: 100%;
    }

    p {
        font-family: var(--typeface-paragraphs);
        font-size: .75em;
        color: var(--color-dark);
        font-style: italic;
        
        &[style="visibility: hidden;"] {
            clip: rect(0 0 0 0); 
            clip-path: inset(50%);
            height: 1px;
            overflow: hidden;
            white-space: nowrap; 
            width: 1px;

            & + * {
                margin-top: -.5em;
            }
        }
    }

    &:not(:focus-within):not(:target) {
        clip: rect(0 0 0 0); 
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        white-space: nowrap; 
        width: 1px;
    }
}