@use '../tools/mixins/media' as media;

.experience-timeline {
    $p: &;
    list-style-type: none;
    padding-inline-start: 0;
    display: flex;
    flex-direction: column;
    gap: calc(var(--site-padding)*2);

    &__era {
        font-size: 1em;
    }

    &__date {
        display: block;
        font-family: var(--typeface-headings);
        font-feature-settings: "onum";
        color: hsl(var(--color-hs-dark) 47%);
        font-weight: 650;
        font-size: 1.35em;
        line-height: 1;
        margin-block-end: var(--site-padding);
    }

    &__events {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding-inline-start: 0;
        gap: var(--site-padding);
        
        &-item {
            font-size: 1em;

            & + & {
                border-block-start: 2px dotted hsl(var(--color-hs-dark) 85%);
                padding-block-start: var(--site-padding);
            }
        }
    }

    &__entry {
        --int-entry-type-size: 2em;
        --int-gap: .75em;
        $p: &;
        display: grid;
        grid-template-columns: [content-start] 1fr [content-end type-start] var(--int-entry-type-size) [type-end];
        grid-gap: var(--int-gap);
        position: relative;
        transition: margin-block var(--base-easing) var(--base-animation-duration);

        &::before {
            content: '';
            position: absolute;
            inset-block-start: 50%;
            inset-inline-start: 50%;
            transform: translate(-50%, -50%);
            width: calc(100% + (var(--site-padding) * 2));
            height: calc(100% + (var(--site-padding) * 2));
            background-color: hsl(var(--color-hs-accent) 98%);
            z-index: -1;
            border-radius: 15px;
            opacity: 0;
            transition: opacity var(--base-easing) var(--base-animation-duration);

            @supports not (inset-block-start: 0) {
                top: 50%;
                left: 50%;
            }
        }

        &.is-expanded {
            margin-block: 1em;
            
            &::before {
                opacity: 1;
            }
        }

        &-type {
            display: flex;
            align-items: center;
            justify-content: center;
            aspect-ratio: 1 / 1;
            width: 100%;
            border-radius: 8px;
            grid-column: type-start / type-end;
            grid-row: 1;
            -webkit-mask-image: paint(smooth-corners);
            --smooth-corners: 3.5;

            svg {
                display: inline-block;
                max-height: 58%;
            }

            &.vers {
                &--generic,
                &--education {
                    background-color: var(--color-accent-100);
                    --icon-color: var(--color-accent-300);
                }

                &--job {
                    background-color: var(--color-accent-700);
                    --icon-color: var(--color-accent-100);
                }
            }
        }

        &-text {
            display: flex;
            flex-direction: column;
            gap: .25em;
            grid-column: content-start / content-end;
            grid-row: 1;
        }

        :where(#{&}-title) {
            font-family: var(--typeface-headings);
            margin-block-start: 0;
            line-height: 1.25;
            font-size: 1.125em;
        }

        &-meta {
            font-family: var(--typeface-headings);
            font-size: .8125em;
            color: hsl(var(--color-hs-dark) 25%);
            font-weight: 525;
            font-feature-settings: "c2sc", "smcp";
            line-height: 1;
            display: flex;
            align-items: center;
            gap: .25em;

            svg {
                height: 1em;
                width: auto;
            } 
        }

        &-tags {
            padding-inline-start: 0;
            list-style-type: none;
            display: flex;
            gap: .25em;
            flex-wrap: wrap;
            margin-block-start: .5em;
        }

        &-action {
            margin-block-start: .5em;
        }

        &-details {
            grid-column: 1 / -1;
            height: 0;
            opacity: 0;
            overflow: hidden;
            transition-property: opacity, height;
            transition-timing-function: var(--base-easing);
            transition-duration: var(--base-animation-duration);
        }

        :where(#{&}-description) {
        
        }

        &.vers--minor {
            #{$p} {
                &-title {
                    font-family: var(--typeface-paragraphs);
                    font-size: 1em;
                    font-weight: 500;
                    color: hsl(var(--color-hs-dark) 45%);
                }
            } 
        }

        &.vers--major {
            #{$p} {
                &-title {
                    font-weight: 700;
                }
            }
        }
    }
}