@use '../tools/mixins/media' as media;

.experience-timeline {
    $p: &;
    list-style-type: none;
    padding-inline-start: 0;
    display: flex;
    flex-direction: column;
    gap: calc(var(--site-padding)*2);

    @include media.widerThan(honey) {
        margin-top: var(--site-padding);
        gap: calc(var(--site-padding)/2);
    }

    &__era {
        font-size: 1em;

        @include media.widerThan(syrup) {
            display: flex;
            gap: calc(var(--site-padding)/2);
            align-items: center;
        }
    }

    &__date {
        display: block;
        font-family: var(--typeface-headings);
        font-feature-settings: "onum";
        color: hsl(var(--color-hs-dark) 47%);
        font-weight: 650;
        font-size: 1.35em;
        line-height: 1;
        margin-block-end: var(--site-padding);

        @include media.widerThan(honey) {
            font-size: 1.5em;
            margin-block-end: 1em;
        }

        @include media.widerThan(syrup) {
            font-size: 2em;
            writing-mode: vertical-lr;
            color: hsl(var(--color-hs-dark) 76%);
            margin-block-end: 0;
        }
    }

    &__events {
        content-visibility: auto;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding-inline-start: 0;
        gap: 2em;

        @include media.widerThan(honey) {
            gap: 0;
        }
        
        &-item {
            font-size: 1em;

            & + & {
                border-block-start: 2px dotted hsl(var(--color-hs-dark) 85%);
                padding-block-start: var(--site-padding);

                @include media.widerThan(honey) {
                    padding-block-start: 0;
                    border-block-start: none;
                }
            }
        }
    }

    &__entry {
        --int-entry-type-size: 2em;
        --int-gap: .75em;
        $p: &;
        display: grid;
        grid-template-columns: [content-start] 1fr [content-end type-start] var(--int-entry-type-size) [type-end];
        grid-gap: var(--int-gap);
        position: relative;
        border-radius: 30px;
        transition-property: background-color;
        transition-timing-function: var(--base-easing);
        transition-duration: var(--base-animation-duration);

        @include media.widerThan(caramel) {
            --shift: calc( var(--int-entry-type-size) + var(--int-gap) );
            --int-entry-type-size: 2.5em;
            grid-template-columns: [type-start] var(--int-entry-type-size) [type-end content-start] 1fr [content-end];
        }

        @include media.widerThan(honey) {
            --int-entry-type-size: 3em;
            --int-gap: 1.5em;
            align-items: center;
            padding: var(--int-gap);
        }

        @include media.widerThan(syrup) {
            --int-entry-type-size: 5em;
            padding: calc(var(--int-gap) * 2);
        }

        &.is-expanded {
            @include media.widerThan(caramel) {
                #{$p} {
                    &-text {
                        padding-inline-start: 0;
                    }
                    
                    &-type {
                        opacity: 0;
                    }
                }
            }

            @include media.widerThan(honey) {
                background-color: var(--color-accent-100);
            }
        }

        &-type {
            display: flex;
            align-items: center;
            justify-content: center;
            aspect-ratio: 1 / 1;
            width: 100%;
            border-radius: 8px;
            grid-column: type-start / type-end;
            grid-row: 1;
            -webkit-mask-image: paint(smooth-corners);
            --smooth-corners: 3.5;
            transition-property: opacity, transform;
            transition-timing-function: var(--base-easing);
            transition-duration: var(--base-animation-duration);

            @supports not (aspect-ratio: 1 / 1) {
                height: var(--int-entry-type-size);
            }

            @include media.widerThan(caramel) {
                z-index: 2;
            }

            svg {
                display: inline-block;
                height: 58%;
            }

            &.vers {
                &--generic,
                &--education {
                    background-color: var(--color-accent-100);
                    --icon-color: var(--color-accent-300);
                }

                &--job {
                    background-color: var(--color-accent-700);
                    --icon-color: var(--color-accent-100);
                }
            }
        }

        &-text {
            display: flex;
            flex-direction: column;
            gap: .25em;
            grid-column: content-start / content-end;
            grid-row: 1;
            transition-property: padding-inline-start, padding-left;
            transition-timing-function: var(--base-easing);
            transition-duration: var(--base-animation-duration);

            @include media.widerThan(caramel) {
                z-index: 1;
                grid-column: 1 / -1;
                padding-left: var(--shift);
                padding-inline-start: var(--shift);
            }

            @include media.widerThan(syrup) {
                gap: .5em;
                display: grid;
                grid-template-columns: [text-start] 1fr [text-end action-start] auto [action-end]
            }
        }

        :where(#{&}-title) {
            font-family: var(--typeface-headings);
            margin-block-start: 0;
            line-height: 1.25;
            font-size: 1.125em;
            padding-block: .25em;

            @include media.widerThan(caramel) {
                padding: 0;
            }

            @include media.widerThan(syrup) {
                grid-column: text-start / action-end;
            }
        }

        &-meta {
            font-family: var(--typeface-headings);
            font-size: .8125em;
            color: hsl(var(--color-hs-dark) 25%);
            font-weight: 525;
            font-feature-settings: "c2sc", "smcp";
            line-height: 1;
            display: flex;
            align-items: center;
            gap: .5em;

            @include media.widerThan(syrup) {
                grid-column: text-start / text-end;
                font-size: .9em;
            }

            svg {
                height: 1em;
                width: auto;
            } 
        }

        &-tags {
            padding-inline-start: 0;
            list-style-type: none;
            display: flex;
            gap: .25em;
            flex-wrap: wrap;
            margin-block-start: .5em;

            @include media.widerThan(syrup) {
                grid-column: text-start / text-end;
            }
        }

        &-action {
            margin-block-start: .5em;

            @include media.widerThan(syrup) {
                grid-column: action-start / action-end;
            }
        }

        &-details {
            grid-column: 1 / -1;
            height: 0;
            opacity: 0;
            overflow: hidden;
            transition-property: opacity, height;
            transition-timing-function: var(--base-easing);
            transition-duration: 250ms;
            margin-block-start: var(--int-gap);

            .list--horizontal {
                margin-block-start: var(--int-gap);
            }
        }

        :where(#{&}-description) {
        
        }

        &.vers--minor {
            #{$p} {
                &-title {
                    font-family: var(--typeface-paragraphs);
                    font-size: 1em;
                    font-weight: 500;
                    color: hsl(var(--color-hs-dark) 45%);

                    @include media.widerThan(honey) {
                        font-size: 1.25em;
                    }
                }
            } 
        }

        &.vers--major {
            #{$p} {
                &-title {
                    font-weight: 625;

                    @include media.widerThan(honey) {
                        font-size: 1.75em;
                    }

                    @include media.widerThan(syrup) {
                        font-size: 2em;
                    }
                }
            }
        }

        &.vers--hire-me {
            #{$p} {
                &-type {
                    background-color: var(--color-primary);
                }
            }
        }
    }
}