@use '../tools/mixins/media' as media;
@use '../objects/meta-label' as *;

@mixin _inPostsList() {
    @at-root .posts-list :where(#{&}) {
        @content;
    }
} 

.listed-post {
    background-color: #fff;
    padding: 1.5em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: .5em;
    box-shadow: 0 15px 42px rgba(0,0,0,.06);
    position: relative;

    @include _inPostsList() {
        @include media.widerThan(caramel) {
            padding: clamp(2em, 5vw, 4em);
        }
    }

    &__title {
        font-family: var(--typeface-headings);
        font-size: 1.75em;
        font-weight: 650;
    }

    &__excerpt {
        font-family: var(--typeface-paragraphs);
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-top: .75em;
    }

    &__date {
        @include meta-label();
        margin-block-start: 0;
        font-weight: 500;
        font-size: .8em;
        display: flex;
        align-items: center;
        gap: 1em;

        .draft {
            display: inline-block;
            border-radius: 3px;
            padding: .3em .5em;
            background-color: var(--color-accent-700);
            color: var(--color-accent-100);
            line-height: 1;
        }
    }

    &__action {
        margin-block-start: 2em;
        align-self: start;

        @media (hover: hover) {
            &::before {
                content: '';
                position: absolute;
                inset: 0;
            }
        }
    }
}