@use '../tools/mixins/media' as media;
@use '../objects/meta-label' as *;

@keyframes headlineTargetBlink {
    50% {
        color: var(--color-accent-500);
    }
}

@mixin _mainContentElements() {

    > :where(pre) {
        line-height: 1.5;
        font-size: .7em;
    }

    > :where(ul, ol) {
        display: flex;
        flex-direction: column;
    }

    .portrait {
        --int-margin: var(--margin, 1em);
        width: clamp(7em, 30%, 250px);
        float: inline-start;
        margin-inline-end: var(--int-margin);
        margin-block-end: var(--int-margin);
        display: flex;
        flex-direction: column;
        gap: .5em;

        @supports not (float: inline-start) {
            float: left;
        }

        @include media.widerThan(syrup) {
            --margin: calc(var(--site-padding)/2);
        }

        &__image {
            border-radius: min(2.5vw, 15px);
            display: block;
            overflow: hidden;
            box-shadow: var(--shadow-fat);
        }

        &__caption {
            font-size: .95em;
            color: var(--color-dark);
        }
    }

    blockquote {
        padding: 1em;
        background-color: var(--color-accent-100);
        border-radius: 15px;

        & > p {
            font-style: italic;
            color: var(--color-accent-700);

            &::before, &::after {
                content: '"';
            }
        }
    }
}

.main {
    $p: &;

    &__illustration {
        display: inline-block;
        float: inline-end;
        margin-inline-start: 2em;
        margin-block-end: 2em;

        @supports not (float: inline-end) {
            float: right;
        }

        @include media.widerThan(honey) {
            margin: 0;
        }

        & > * {
            @include media.narrowerThan(honey) {
                display: none;
            }
        }
        
        &-icon {
            display: block;
            width: clamp(6em, 15vw, 330px);
            color: var(--color-accent-300);
            margin: 0;

            svg {
                width: 100%;
                height: auto;
                
                path { 
                    stroke: currentColor;
                    stroke-width: 4;
                }
            }
        }

        &.vers--pills {
            position: relative;
            
            #{$p}__illustration {
                &-big-pill {
                    position: absolute;
                    inset-block-start: 0;
                    inset-inline-start: 0;
                    width: 100%;
                    z-index: -1;

                    @supports not (inset-block-start: 0) {
                        top: 0;
                        left: 0;
                    }
                    
                    svg {
                        display: block;
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }

    &__header {
        margin-block-end: var(--site-padding);
        
        &#{&} {
            margin-block-start: 0;
        }
    }

    &__title {
        font-family: var(--typeface-headings);
        font-weight: 675;
        font-size: 2em;
        line-height: 1.25;
        margin: 0;

        @include media.widerThan(caramel) {
            font-size: 2.5em;
        }

        @include media.widerThan(syrup) {
            font-size: 3em;
        }

        @include media.widerThan(fructose) {
            font-size: 3.5em;
        }
    }

    &__date {
        @include meta-label();
        color: var(--color-primary);
        font-weight: 475;
    }

    &__excerpt {
        margin-block-start: 1em;
        font-size: 1.15em;

        @include media.widerThan(syrup) {
            font-size: 1.5em;
        }
    }

    &__heading {
        &-wrapper {
            clear: both;
            position: relative;

            &:where(:hover, :focus-within) {
                .main__heading-link {
                    opacity: 1;
                }
            }

            :is(h2, h3, h5, h5, h6) {
                margin-block-start: .75em;
                margin-block-end: .5em;
            }

            :where(h2, h3, h4, h5, h6) {
                display: inline-block;

                &:target {
                    animation: headlineTargetBlink 800ms alternate;
                }
            }
        }
        
        &-link {
            font-family: var(--typeface-headings);
            //padding-inline-end: 2.5em;
            transform: translateX(-100%);
            width: 1em;
            font-size: .85em;
            font-weight: 600;
            color: var(--color-highlight);
            //outline: 1px solid;
            
            @include media.widerThan(caramel) {
                opacity: 0;
            }

            @include media.widerThan(syrup) {
                @at-root .main__heading-wrapper h2 + & {
                    font-size: 1.25em;
                }

                @at-root .main__heading-wrapper h3 + & {
                    font-size: 1em;
                }

                @at-root .main__heading-wrapper h4 + & {
                    font-size: .9em;
                }

                @at-root .main__heading-wrapper h5 + & {
                    font-size: .85em;
                }

                @at-root .main__heading-wrapper h6 + & {
                    font-size: .85em;
                }
            }
        }
    }

    &__outline {
        font-size: .8em;
        margin-block-start: var(--site-padding);
        background-color: var(--color-accent-100);
        padding: 1.5em;
        border-radius: 15px;

        @supports (backdrop-filter: blur(10px)) {
            backdrop-filter: blur(10px);
            opacity: .8;
        }

        @include media.widerThan(honey) {
            font-size: .9em;
            background-color: transparent;
            opacity: 1;
            backdrop-filter: none;
            margin-block-start: 0 !important;
            padding: 0;
        }

        @include media.widerThan(syrup) {
            font-size: 1em;
        }

        &-label {
            font-family: var(--typeface-headings);
            font-size: 1.05em;
            font-weight: 525;
            line-height: 1;

            @include media.widerThan(honey) {
                font-size: 1em;
                font-weight: 450;
                text-align: right;
                margin-block-end: 2em;
            }

            + * {
                margin-block-start: 1em;
            }
        }

        nav {
            @include media.widerThan(honey) {
                position: sticky;
                inset-block-start: calc(var(--site-padding)/2);

                @supports not (inset-block-start: 0) {
                    top: calc(var(--site-padding)/2);
                }
            }
        }

        ol {
            padding-inline-start: 0;
            list-style-type: none;
            counter-reset: section;
            width: 100%;
            display: flex;
            flex-direction: column;

            > li {
                font-family: var(--typeface-headings);
                font-size: 1em;
                position: relative;
                font-weight: 475;

                @include media.widerThan(honey) {
                    clear: both;
                }

                a {
                    text-decoration-color: currentColor;

                    &.is-current {
                        font-weight: 650;
                    }

                    @include media.widerThan(honey) {
                        font-size: 1.125em;
                        display: block;
                        margin-bottom: .75em;
                        text-align: right;
                        padding-inline-end: 2.5em;
                    }
                }

                &::before {
                    counter-increment: section;
                    content: counters(section, ".") ".";
                    display: inline-block;
                    font-feature-settings: 'c2sc';
                    font-weight: 650;
                    padding-inline-end: .5em;
                    opacity: .5;

                    @include media.widerThan(honey) {
                        position: absolute;
                        inset-inline-end: calc(var(--site-padding)/2);
                        inset-block-start: .25em;
                        text-align: left;
                        transform: translateX(calc(100% + .5em));

                        @supports not (inset-inline-end: 0) {
                            right: calc(var(--site-padding)/2);
                            top: .25em;
                        }
                    }
                }
            }
        }
    }

    @at-root :where(#{$p}) :where(p, li, pre, address) {
        font-family: var(--typeface-paragraphs);
        line-height: 1.75;
        font-size: .9em;

        @include media.widerThan(honey) {
            font-size: 1em;
        }

        @include media.widerThan(fructose) {
            font-size: 1.125em;
        }

        & + *:not(li) {
            margin-block-start: 1em;
        }
    }

    @at-root .site-layout:where(.vers--page, .vers--single-post) :where(#{&}) {
        @include media.widerThan(honey) {
            --column-illustration: 3fr;
            border-radius: 0;
        }

        @include _mainContentElements();

        :where(h2, h3, h4, h5, h6, #{$p}__heading-wrapper) {
            line-height: 1;
        }

        :where(p code) {
            background-color: #fff;
            font-weight: 500;
            color: #333;
            display: inline-block;
            padding: .1em .4em;
            border-radius: 3px;
            box-shadow: 
                0 1px 2px rgba(0,0,0,.15),
                0 3px 6px rgba(0,0,0,.08);
        }

        :where(h2) {
            margin: 0;
            font-size: 1.75em;
            font-weight: 625;
            line-height: 1.25;

            + a {
                font-size: 1.75em;
            }

            @include media.widerThan(syrup) {
                font-size: 1.75em;
            }
        }

        h3 {
            margin: 0;
            font-size: 1em;
            font-weight: 575;
            margin-block-start: .75em;

            @include media.widerThan(syrup) {
                font-size: 1.25em;
                line-height: 1;
            }
        }

        h4 {
            margin: 0;
            font-size: 1em;
            font-weight: 550;
            margin-block-start: .5em;
        }

        h5 {
            margin: 0;
            font-size: .9em;
            font-weight: 550;
            margin-block-start: .25em;
            font-feature-settings: "smcp", "c2cp";
        }

        h6 {
            margin: 0;
            margin-block-start: .25em;
            font-size: 1em;
            font-weight: 525;
        }

        hr {
            border: 0;
            height: 2px;
            border-radius: 2px;
            background-color: var(--color-dark);
            opacity: .25;
            margin-block-end: 0;

            + * {
                margin-top: .65em;
            }
            
            @include media.widerThan(caramel) {
                grid-column: span 2;
                width: 100%;
            }
        }

        :where(small) {
            display: block;
            font-size: .75em;
            line-height: 1.75;
            color: var(--color-dark);
            opacity: .75;

            @include media.widerThan(caramel) {
                @media (orientation: portrait) {
                    grid-column: span 6;
                }
            }

            @include media.widerThan(syrup) {
                font-size: .9em;
            }
        }

        > * + * {
            margin-block-start: 1em;
        }

        .pull-link {
            &:not(:first-child) {
                margin-block-start: 1em;
            }
            &:not(:last-child) {
                margin-block-end: 1em;
            }
        }
    }

    @at-root .site-layout:where(.vers--case-study) :where(#{$p}) {
        #{$p} {
            &__content {
                @include media.widerThan(honey) {
                    display: flex;
                    flex-direction: column;

                    @media (orientation: portrait) {
                        text-align: center;
                    }
                }

                @include media.widerThan(syrup) {
                    text-align: center;
                }
            }
        }
    }

    &.vers--content-page {
        @include media.widerThan(honey) {
            --vertical-spacing: min(15vh, calc(var(--site-padding)) * 2);
            display: grid;
            grid-template-columns: inherit;
            gap: clamp(1em, 1vw, 40px);
        }

        #{$p} {
            &__illustration {
                @include media.widerThan(honey) {
                    grid-column: illustration-start/illustration-end;
                    grid-row: 1 / 2;
                    z-index: 1;
                    padding-block-start: var(--vertical-spacing);

                    &-icon {
                        @include media.widerThan(honey) {
                            transform: translateX(calc(var(--site-padding) * -1));
                            position: absolute;
                        }
                        
                        & > svg {
                            width: 100%;
                        }
                    }
                }
            }

            &__header {
                @include media.widerThan(honey) {
                    grid-column: main-start/main-end;
                    grid-row: 1;
                    z-index: 2;
                    padding-block-start: var(--vertical-spacing);
                }
            }

            &__content {
                @include media.widerThan(honey) {
                    grid-column: main-start/main-end;
                    grid-row: 2;
                    z-index: 2;
                    margin-block-start: 0;
                }
            }
        }
    }

    &.vers--listing-page {
        &#{$p} {
            @include media.widerThan(syrup) {
                grid-column: 2 / -2 ;
                padding: var(--site-padding) 0;
            }
        }
    }

    &.vers--single-post {
        @include media.widerThan(honey) {
            grid-column: 2 / -2;
            padding: var(--site-padding) 0;
            display: grid;
            grid-template-columns: [side-start] 1fr [side-end text-start] 1.5fr [text-end];
            margin-inline: calc(var(--site-padding) * -1);
            column-gap: calc(var(--site-padding) / 2);

            @supports not (margin-inline: 0) {
                margin-inline-start: calc(var(--site-padding) * -1);
                margin-inline-end: calc(var(--site-padding) * -1);
            }
        }

        #{$p} {
            &__header {
                position: relative;

                @include media.widerThan(honey) {
                    grid-column: 1 / -1;
                    display: grid;
                    grid-template-columns: inherit;
                    margin-block-end: 0;
                    padding-block: var(--site-padding);
                    gap: inherit;

                    @supports not (padding-block: 0) {
                        padding-inline-start: var(--site-padding);
                        padding-inline-end: var(--site-padding);
                    }
                }

                &-text {
                    @include media.widerThan(honey) {
                        text-align: end;
                        display: flex;
                        flex-direction: column;
                        gap: min(2.5vh, 2em);
                    }
                }

                &-intro {
                    @include media.widerThan(honey) {
                        align-self: end;
                    }
                }
            }

            &__illustration {
                position: absolute;
                width: 100%;
                inset-block-start: 0;
                inset-inline-start: 0;
                margin: 0;
                z-index: -1;
                opacity: .5;

                @supports not (inset-block-start: 0) {
                    top: 0;
                    left: 0;
                }

                @include media.widerThan(honey) {
                    height: 100%;
                    width: calc(100% + (var(--site-padding) * 2 ));
                    inset-inline-start: 50%;
                    transform: translateX(-50%);
                    opacity: 1;

                    @supports not (inset-inline-start: 0) {
                        left: 50%;
                    }
                }

                > svg {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }

            &__title {
                &-tags {
                    @include media.widerThan(honey) {
                        justify-content: flex-end;
                    }
                }
            }

            &__excerpt {
                @include media.widerThan(honey) {
                    margin-block-start: 0;
                    padding: clamp(1em, 5vw, 1.5rem);
                    border-radius: 15px;
                    background-color: rgba(255,255,255,.6);

                    @supports (backdrop-filter: blur(25px)) {
                        background-color: rgba(255,255,255,.37);
                        backdrop-filter: blur(25px);
                    }
                }
            }

            &__outline {
                @include media.widerThan(honey) {
                    grid-column: side-start / side-end;
                }
            }

            &__content {
                @include media.widerThan(honey) {
                    grid-column: text-start / text-end;
                    margin-block-start: 0;
                    overflow: auto; // needed because of the code-snippets producing overflow!
                }
            }
        }
    }
}