@use '../tools/mixins/media' as media;
@use '../objects/meta-label' as *;

@mixin _mainContentElements() {
    > :where(p, ol, ul, blockquote, dl, pre) {
        grid-column: span 3;

        @include media.widerThan(caramel) {
            @media (orientation: portrait) {
                grid-column: span 5;

                & + *:not(:where(p, ol, ul, dl, pre, hr)) {
                    grid-column: span 2;
                }
            }
        }
    }

    > :where(pre) {
        line-height: 1.5;
        font-size: .7em;
    }

    > :where(ul, ol) {
        display: flex;
        flex-direction: column;
    }

    .portrait {
        border-radius: 30px;
        display: inline-block;
        overflow: hidden;
    }
}

.main {
    $p: &;

    &__title {
        font-family: var(--typeface-headings);
        font-weight: 675;
        font-size: 1.5em;
        line-height: 1.25;
        margin: 0;

        & + * {
            margin-block-start: 1em;

            @include media.widerThan(caramel) {
                margin-block-start: 2em;
            }
        }

        @include media.widerThan(caramel) {
            font-size: 2em;
        }

        @include media.widerThan(syrup) {
            font-size: 3em;
        }
    }

    &__date {
        @include meta-label();
        color: var(--color-primary);
        font-weight: 475;
    }

    &__excerpt {
        font-size: 1em;

        @include media.widerThan(syrup) {
            font-size: 1.5em;
        }
    }

    &__heading {
        &-wrapper {
            position: relative;

            &:where(:hover, :focus-within) {
                .main__heading-link {
                    opacity: 1;
                }
            }
        }
        
        &-link {
            font-family: var(--typeface-headings);
            position: absolute;
            inset-inline-start: 0;
            inset-block-end: 10%;
            //padding-inline-end: 2.5em;
            transform: translateX(-100%);
            width: 1em;
            font-size: .85em;
            font-weight: 600;
            color: var(--color-highlight);
            //outline: 1px solid;
            
            @include media.widerThan(caramel) {
                opacity: 0;
            }

            @include media.widerThan(syrup) {
                @at-root .main__heading-wrapper h2 + & {
                    font-size: 1.25em;
                }

                @at-root .main__heading-wrapper h3 + & {
                    font-size: 1em;
                }

                @at-root .main__heading-wrapper h4 + & {
                    font-size: .9em;
                }

                @at-root .main__heading-wrapper h5 + & {
                    font-size: .85em;
                }

                @at-root .main__heading-wrapper h6 + & {
                    font-size: .85em;
                }
            }

            @supports not (inset-inline-start: 0) {
                right: 0;
                bottom: 10%;
            }
        }
    }

    &__outline {
        font-size: .75em;
        margin-block-start: var(--site-padding);

        @include media.widerThan(honey) {
            font-size: .85em;
        }

        @include media.widerThan(syrup) {
            font-size: 1em;
        }

        &-label {
            font-family: var(--typeface-headings);
            font-size: 1.05em;
            font-weight: 525;
            line-height: 1;

            @include media.widerThan(honey) {
                font-size: 1em;
                font-weight: 450;
            }

            + * {
                margin-block-start: 1em;
            }
        }

        ol {
            padding-inline-start: 0;
            list-style-type: none;
            counter-reset: section;
            width: 100%;
            display: flex;
            flex-direction: column;

            > li {
                font-family: var(--typeface-headings);
                font-size: 1em;
                position: relative;
                font-weight: 475;

                @include media.widerThan(honey) {
                    clear: both;
                }

                a {
                    text-decoration-color: currentColor;

                    &.is-current {
                        font-weight: 650;
                    }

                    @include media.widerThan(honey) {
                        font-size: 1.125em;
                        display: block;
                        margin-bottom: .75em;
                    }
                }

                &::before {
                    counter-increment: section;
                    content: counters(section, ".") ".";
                    display: inline-block;
                    font-feature-settings: 'c2sc';
                    font-weight: 650;
                    padding-inline-end: .5em;
                    opacity: .5;

                    @include media.widerThan(honey) {
                        position: absolute;
                        inset-inline-end: 0;
                        inset-block-start: .25em;
                        text-align: left;
                        transform: translateX(calc(100% + .5em));

                        @supports not (inset-inline-end: 0) {
                            right: 0;
                            top: .25em;
                        }
                    }
                }
            }
        }
    }

    @at-root :where(#{$p}) :where(p, li, pre) {
        font-family: var(--typeface-paragraphs);
        line-height: 1.75;
        font-size: .8em;

        @include media.widerThan(syrup) {
            font-size: 1em;
        }

        & + *:not(li) {
            margin-block-start: 1em;
        }
    }

    @at-root .site-layout:where(.vers--page, .vers--single-post) :where(#{&}) {
        background-color: #fff;
        padding-block-start: calc(var(--site-padding) * 2);
        padding-block-end: calc(var(--site-padding) * 2);

        @include media.widerThan(caramel) {
            @media (orientation: portrait) {
                padding: var(--site-padding);
                display: grid;
                grid-template-columns: inherit;
            }
        }

        @include media.widerThan(honey) {
            --column-illustration: 3fr;
            display: grid;
            grid-template-columns: var(--columns-main);
            column-gap: 2.5em;
            border-radius: 0;
            background-color: transparent;
        }

        @include _mainContentElements();

        :where(h2, h3, h4, h5, h6, #{$p}__heading-wrapper) {
            grid-column: 1 / -1;
            line-height: 1;
        }

        :where(h2) {
            margin: 0;
            font-size: 1em;
            font-weight: 625;
            margin-block-start: 1em;

            @include media.widerThan(syrup) {
                font-size: 1.75em;
                line-height: 1.25;
            }
        }

        h3 {
            margin: 0;
            font-size: 1em;
            font-weight: 575;
            margin-block-start: .75em;

            @include media.widerThan(syrup) {
                font-size: 1.25em;
                line-height: 1;
            }
        }

        h4 {
            margin: 0;
            font-size: 1em;
            font-weight: 550;
            margin-block-start: .5em;
        }

        h5 {
            margin: 0;
            font-size: .9em;
            font-weight: 550;
            margin-block-start: .25em;
            font-feature-settings: "smcp", "c2cp";
        }

        h6 {
            margin: 0;
            margin-block-start: .25em;
            font-size: 1em;
            font-weight: 525;
        }

        hr {
            border: 0;
            height: 2px;
            border-radius: 2px;
            background-color: var(--color-dark);
            opacity: .25;
            margin-block-end: 0;

            + * {
                margin-top: .65em;
            }
            
            @include media.widerThan(caramel) {
                grid-column: span 2;
                width: 100%;
            }
        }

        .wrap-as {
            &--main-column {
                @include media.widerThan(caramel) {
                    grid-column: span 3;
                }
            }

            &--full-column {
                @include media.widerThan(caramel) {
                    grid-column: 1 / -1;
                }
            }
        }

        aside, .aside { // okay listen. These elements will sometimes contain captioned elements, such as pull-links. These elements are already sectioning elements so it wouldn't make sense to wrap them in an aside. And sometimes whatever is in that place actually shouldn't be sectioned at all. That's where there is a semantic aside and a non-semantic aside :D This might be dumb idk lemme know what you think.
            display: flex;
            flex-direction: column;
            gap: .5em;

            @include media.widerThan(caramel) {
                gap: 1.5em;
                flex-direction: row;
                grid-column: 1 / -1;

                .button {
                    align-self: self-start;
                }
            }

            @include media.widerThan(syrup) {
                flex-direction: column;
                grid-column: span 1;
            }
        }

        :where(small) {
            display: block;
            font-size: .75em;
            line-height: 1.25;
            color: var(--color-dark);
            opacity: .75;

            @include media.widerThan(caramel) {
                @media (orientation: portrait) {
                    grid-column: span 6;
                }
            }

            @include media.widerThan(syrup) {
                font-size: .9em;
            }
        }

        > * + * {
            margin-block-start: 1em;
        }

        #{$p} {
            &__header {
                grid-column: 1 / -1;

                @include media.widerThan(caramel) {
                    display: grid;
                    grid-template-columns: inherit;

                    @media (orientation: portrait) {
                        margin-block-end: var(--site-padding);
                    }
                }

                @include media.narrowerThan(syrup) {
                    @media (orientation: landscape) {
                        display: flex;
                        flex-direction: column;
                    }
                }

                @include media.widerThan(caramel) {
                    gap: var(--site-padding);
                }

                @include media.widerThan(syrup) {
                    gap: calc(var(--site-padding)/2);
                }
            }

            img, aside {
                grid-column: 4 / -1;
            }

            &__title {
                @include media.widerThan(caramel) {
                    grid-column: 1 / -1;
                }

                + * {
                    @include media.widerThan(honey) {
                        margin-block-start: 2.5em;
                    }
                }
            }

            &__excerpt {
                @media (orientation: landscape) {
                    @include media.narrowerThan(fructose) {
                        grid-column: span 2;
                    }

                    &:last-child {
                        @include media.narrowerThan(nectar) {
                            grid-column: 1 / -1;
                        }
                    }
                }

                @include media.widerThan(caramel) {
                    grid-column: 1 / 5;
                    margin-block-start: 0;
                }

                @include media.widerThan(honey) {
                    grid-column: span 3;
                }
            }

            &__header-sticker {
                transform: rotate(-3deg);

                @include media.widerThan(caramel) {
                    grid-column: span 2;
                    grid-column-end: -1;
                    margin-block-start: 0;
                    align-self: center;
                }

                @include media.widerThan(honey) {
                    grid-column: span 1;
                }

                @include media.narrowerThan(fructose) {
                    @media (orientation: landscape) {
                        grid-column: span 2;
                    }
                }
            }
            
        }
    }

    @at-root :where(.site-layout.vers--posts-listing) & {
        align-self: start;
        display: flex;
        flex-direction: column;
        gap: var(--site-padding);
        grid-template-columns: inherit;

        @include media.widerThan(honey) {
            display: grid;
            grid-template-rows: min-content 1fr;

            &__header {
                grid-column: span 3;
                position: sticky;
                top: var(--site-padding);
                align-self: start;

                @include media.widerThan(syrup) {
                    padding-inline-end: var(--site-padding);

                }
            }

            &__post-listing {
                grid-column: main-start / main-end;
            }
        }

        @include media.widerThan(syrup) {
            gap: 0;
        }
    }

    @at-root .site-layout:where(.vers--single-post) :where(#{&}) {
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: var(--site-padding);
        background-color: transparent;

        @include media.widerThan(honey) {
            display: grid;
            grid-template-columns: var(--columns);
            gap: 0;
        }

        #{$p} {
            &__header {
                position: sticky;
                top: 0;
                z-index: 1;
                margin: var(--site-padding);
                margin-block-end: 0;

                @include media.widerThan(honey) {
                    grid-column: side-start / side-end;
                    background-color: transparent;
                    padding: var(--site-padding);
                    padding-block-start: calc(var(--site-padding) * 2 );
                    padding-inline-end: 0;
                    margin: 0;
                    text-align: right;
                    position: static;
                }
            }

            &__title {
                font-weight: 750;
            }

            &__date {
                display: block;
                margin-block-start: .75em;

                @include media.widerThan(honey) {
                    margin-block-start: 1.5em;
                }
            }

            &__outline {
                background-color: rgba(0,0,0,.08);;
                border-radius: 4px;
                padding: 1em;
                margin-block-start: 1em;

                @include media.widerThan(honey) {
                    background-color: transparent;
                    padding: 0;
                    margin-block-start: 3em;
                    position: sticky;
                    top: var(--site-padding);
                }
            }

            &__excerpt {
                @include media.widerThan(honey) {
                    margin-bottom: 2.5em;
                }
            }

            &__content {
                padding-block-start: calc(var(--site-padding) * 2);
                padding-block-end: calc(var(--site-padding) * 2);
                //padding-inline: var(--site-padding);
                padding-left: var(--site-padding);
                padding-right: var(--site-padding);
                background-color: #fff;
                position: relative;
                z-index: 2;
                margin-block-start: 0;
                -webkit-transform: translate3d(0,0,0); // this is needed exclusively for safari. This forces a new layer, setting the z-index from the very start. Without it, the z-index only applies once the "sticky" part comes in, which on safari is being updated after the scroll was finished, not while it is happening.

                @include _mainContentElements();

                @include media.widerThan(honey) {
                    background-color: transparent;
                    grid-column: main-start / main-end;
                    display: grid;
                    grid-template-columns: var(--columns-main);
                    grid-column-gap: 2.5em;
                }

                > * + * {
                    margin-block-start: 1em;
                }

                p {
                    code {
                        background-color: rgba(0,0,0,.05);
                        display: inline-block;
                        padding-inline-start: .5em;
                        padding-inline-end: .5em;
                        border-radius: 2px;
                        font-size: 1.125em;
                        color: var(--color-accent-900);
                    }

                    @include media.narrowerThan(honey) {
                        max-width: 60ch;
                    }
                }
            }
        }
    }
}