@use '../tools/mixins/media' as media;

/* Navigational Menu */
.menu {
    margin-block-start: calc(var(--site-padding)/1.75);
    margin-block-end: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    counter-reset: menu-item;

    &__item {
        counter-increment: menu-item;
        color: var(--color-primary);
        font-size: 1em;
        font-weight: 475;
        gap: 1em;
        perspective: 500px;
        display: flex;
        flex-flow: row wrap;

        @include media.widerThan(caramel) {
            position: relative;
        }

        .icon {
            @include media.widerThan(caramel) {
                display: none;
            }
        }

        @at-root :where(.site-menu__navigation) #{&} {
            @include media.widerThan(caramel) {
                --icon-color: var(--color-dark);

                > a {
                    gap: .25em;
                }
            }

            @include media.widerThan(honey) {
                > a {
                    gap: 1em;

                    &::before {
                        margin-inline-end: 0 !important;
                    }
                }
            }
        }

        > a {
            --underline-color: hsl(var(--color-hs-primary) var(--color-weight-300));
            color: inherit;
            display: inherit;
            justify-content: space-between;
            align-items: inherit;
            text-decoration: none;
            flex: 1;

            & > .text {
                margin-inline-end: auto;
                text-decoration-skip-ink: auto;
                text-decoration: underline;
                text-decoration-thickness: 15%;
                text-decoration-color: var(--underline-color);
            }

            &::before {
                content: '0' counter(menu-item);
                margin-inline-end: 1em;
                text-decoration: none;
                text-decoration-color: transparent;
                font-feature-settings: 'tnum';
                font-weight: 550;
                color: var(--color-accent-300);

                @at-root .site-layout:where(.vers--posts-listing, .ctx--index, .vers--single-post) & {
                    color: var(--color-accent-500);
                }
            }

            &:hover, &:focus {
                --underline-color: var(--color-accent-500);
            }

            @at-root .site-layout:where(.vers--posts-listing, .ctx--index, .vers--single-post) & {
                --underline-color: hsl(var(--color-hs-primary) var(--color-weight-700));

                &:hover, &:focus {
                    --underline-color: var(--color-accent-900);
                }
            }
            
            &[aria-current] {
                --underline-color: var(--color-accent-300);
                --icon-color: currentcolor;
                color: var(--color-accent-900);

                @at-root .site-layout:where(.vers--posts-listing, .ctx--index, .vers--single-post) & {
                    --int-darker: calc(var(--color-weight-500) - 34%);
                    --int-darker-active-color: hsl(var(--color-hs-accent) var(--int-darker));
                    --underline-color: hsl(var(--color-hs-accent) var(--color-weight-700));
                    color: var(--int-darker-active-color);
                }
            }
        }

        > button {
            border-radius: 3px;
            background-color: var(--color-accent-100);
            display: flex;
            width: auto;
            padding: .5em;
            font-size: .75em;

            &[aria-expanded="true"] {
                --icon-color: var(--color-accent-100);
                background-color: var(--color-highlight) !important;

                + .submenu {
                    transform: translateZ(0);
                    opacity: 1;
                }
            }

            @include media.widerThan(caramel) {
                @at-root .site-layout:where(.vers--posts-listing, .ctx--index, .vers--single-post) & {
                    background-color: var(--color-accent-500);
                    --icon-color: var(--color-accent-300);

                    &[aria-expanded="true"] {
                        --icon-color: var(--color-accent-300);
                    }
                }
            }
        }
    }

    &__submenu {
        background-color: hsl(var(--color-hs-accent) 97.5%);
        border-radius: 15px;
        padding: 1em;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: .5em;
        padding-inline-start: 2.25em;
        z-index: 10;
        flex: 100%;
        opacity: 0;
        transition-property: transform, opacity;
        transition-timing-function: var(--base-easing);
        transition-duration: var(--base-animation-duration);

        &[hidden] {
            display: none;
        }

        @include media.widerThan(caramel) {
            --spacer-height: 1em;
            position: absolute;
            inset-block-start: calc(100% + var(--spacer-height));
            inset-inline-end: 0;
            padding: 1em;
            white-space: nowrap;
            border-radius: 5px;
            box-shadow: var(--shadow-fat);
            margin-inline-end: 0;
            transform: translateZ(1em);
            background-color: #fff;

            @supports not (inset-block: 0) {
                top: calc(100% + var(--spacer-height));
                right: 0;
            }

            &::before {
                content: '';
                position: absolute;
                height: var(--spacer-height);
                width: 100%;
                inset-block-end: 100%;
                inset-inline-start: 0;

                @supports not (inset-block: 0) {
                    bottom: 100%;
                    left: 0;
                }
            }
        }

        @include media.widerThan(nectar) {
            padding: 2em;
        }

        .submenu__item > a {
            display: flex;
            justify-content: space-between;
        }
    }

    &.site-menu__navigation {
        @include media.narrowerThan(caramel) {
            @media screen and (orientation: landscape) {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                font-size: .85em;
            }
        }
        
        @include media.widerThan(caramel) {
            flex-direction: row;
            gap: 2em;
            margin-block-start: 0;
            align-items: stretch;
            font-size: .85em;
            width: 100%;
            justify-content: flex-end;
        }

        @include media.widerThan(honey) {
            font-size: 1em;
        }
    }
}