@use '../tools/mixins/media' as media;

.posts-list {
    list-style-type: none;
    padding-inline-start: 0;
    display: flex;
    flex-direction: column;
    gap: calc(var(--site-padding) / 2);

    @include media.widerThan(caramel) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    @include media.widerThan(honey) {
        --int-max-items: var(--max-items, 3);
        //--int-item-width: calc(100% - (var(--site-padding) * 2));
        --int-item-width: 55ch;
        grid-template-columns: repeat(var(--int-max-items), var(--int-item-width));
        gap: 0;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    }

    &__item {
        @include media.widerThan(honey) {
            scroll-snap-align: start;
            padding: calc(var(--horizontal-pull) * -1) 0;
        }

        &:first-child {
            @include media.widerThan(syrup) {
                padding-inline-start: var(--site-padding);
            }
        }

        &:last-child {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: var(--site-padding);
            grid-column: span 2;

            @include media.widerThan(honey) {
                grid-column: span 1;
            }

            @include media.widerThan(syrup) {
                padding-inline-end: var(--site-padding);
            }
        }
    }
}