@use '../tools/mixins/media' as media;

.site-layout {
    // rows
    --site-padding: var(--base-padding);
    --site-header-row: [header] 4.25em;
    --site-content-rows: [main] auto;
    --site-footer-row: [footer] fit-content(4.25em);
    --site-layout-rows: [skip] min-content [bar] min-content var(--site-header-row) var(--site-content-rows) var(--site-footer-row);
    // columns
    --columns-main: [main-start] 3fr 1fr 2fr 3fr [main-end];
    --columns-side: [side-start] 3fr 2fr [side-end] 1fr;
    --columns: repeat(3, 1fr);
    display: grid;
    grid-template-columns: var(--columns);
    grid-template-rows: var(--site-layout-rows);
    min-height: 100vh;
    
    @include media.widerThan(caramel) {
        --site-header-row: [header] auto;
        --site-content-rows: [main] 1fr;
        --site-footer-row: [footer] auto;
        --columns: var(--columns-side) var(--columns-main);
        --site-padding: calc(var(--base-padding) * 1.75);
    }

    @include media.widerThan(honey) {
        --site-padding: calc(var(--base-padding) * 2.25);
    }

    @include media.widerThan(syrup) {
        --site-padding: calc(var(--base-padding) * 5);
    }

    &.vers--page {
        --site-content-rows: [illustration] min-content [main] auto;
        
        @include media.widerThan(caramel) {
            --site-header-row: [header] min-content;
            --site-content-rows: [illustration main] auto;
            --site-footer-row: [footer] min-content;

            > * {
                z-index: 2;
            }

            &::before {
                content: '';
                background-color: #fff;
                grid-column: main-start / main-end;
                grid-row: 1 / -1;
                z-index: 1;
            }
        }

        .site-header {
            z-index: 3;
        }

        .site-illustration {
            position: sticky;
            top: 0;
            z-index: 0;

            @include media.widerThan(caramel) {
                align-self: stretch;
                position: relative;

                > svg {
                    position: absolute;
                    height: 100%;
                    width: auto;
                    opacity: .05;
                    inset-block-start: 50%;
                    inset-inline-start: 50%;
                    transform: translate(-50%, -50%);
                    max-width: 100vw;

                    @supports not (inset-block-start: 0) {
                        top: 50%;
                        left: 50%;
                    }
                }
            }

            & + .site-main {
                -webkit-transform: translate3d(0,0,0); // this is needed exclusively for safari. This forces a new layer, setting the z-index from the very start. Without it, the z-index only applies once the "sticky" part comes in, which on safari is being updated after the scroll was finished, not while it is happening.
            }
        }

        .site-main {
            align-self: stretch;
            z-index: 2;

            @include media.widerThan(caramel) {
                grid-column: main-start / main-end;
                margin: 0;
                align-self: start;
            }
        }

        .site-footer {
            @include media.widerThan(caramel) {
                display: grid;
                grid-template-columns: var(--columns);

                &__copy {
                    grid-column: 4 / -1;
                    padding-inline-start: var(--site-padding);
                }
            }
        }
    }

    &.vers--single-post {
        @include media.widerThan(honey) {
            &::before {
                content: '';
                background-color: #fff;
                grid-column: main-start / main-end;
                grid-row: 1 / -1;
                z-index: 1;
            }
        }
        
        .site-header {
            z-index: 3;
        }

        .site-footer {
            @include media.widerThan(caramel) {
                display: grid;
                grid-template-columns: var(--columns);

                &__copy {
                    grid-column: 4 / -1;
                    padding-inline-start: var(--site-padding);
                }
            }
        }
    }
}

.site-skip {
    grid-column: 1 / -1;
    grid-row: skip;
}

.site-bar {
    grid-row: bar;
    grid-column: 1 / -1;
    background-color: var(--color-highlight);
    margin-inline-start: -.5em;
    margin-inline-end: -.5em;
    margin-block-start: -.5em;
    padding: 1em calc(var(--site-padding) + .5em);
    color: #fff;
    border-bottom: solid .5em #fff;
}

/* Site Layout */
.site-header {
    padding: var(--site-padding);
    grid-column: 1 / -1;
    grid-row: header;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media.widerThan(caramel) {
        padding-block-end: 0;
    }
}

.site-illustration {
    padding: calc(var(--site-padding) * 1.5);
    grid-column: 1 / -1;
    grid-row: illustration;

    @include media.widerThan(caramel) {
        grid-column: side-start / side-end;
    }

    svg {
        width: 100%;
    }
}

.site-main {
    padding: var(--site-padding);
    grid-column: 1 / -1;
    grid-row: main;
    align-self: center;
}

.site-footer {
    padding: var(--site-padding);
    grid-column: 1 / -1;
    grid-row: footer;

    @include media.widerThan(caramel) {
        padding-block-start: 0;
    }
}

