<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ metaDescription if metaDescription else (excerpt if excerpt else 'Design Engineering, Accessibility, Frontend Design & CSS') | safe }}">
        <meta name="og:description" content="{{ metaDescription if metaDescription else (excerpt if excerpt else 'Design Engineering, Accessibility, Frontend Design & CSS') | safe }}">
        <meta name="author" content="Thomas Michael Semmler">
        <link rel="preload" as="font" href="{{ '/assets/fonts/work-sans-variable-subset.woff2' | url }}" as="font" type="font/woff2" crossorigin>
        <link rel="preload" as="font" href="{{ '/assets/fonts/poppins-regular-subset.woff2' | url }}" as="font" type="font/woff2" crossorigin>
        <link rel="preload" as="style" href="{{ '/css/fonts.css' | url }}">
        <title>{{ title }} - hello, yes. I'm Thomas Michael Semmler: CSS Developer, Designer & Developer from Vienna, Austria</title>
        <link rel="stylesheet" type="text/css" href="{{ '/css/fonts.css' | url }}" media="print" onload="this.media='all'">
        {% if syntaxHighlighting %}
            <link rel="stylesheet" type="text/css" href="{{ '/css/syntax-highlighting.css' | url }}" media="print" onload="this.media='screen'">
        {% endif %}
        <link rel="stylesheet" type="text/css" href="{{ '/css/style.css' | url }}">
        <link rel="icon" href="{{ '/assets/favicons/illusion/favicon.ico' | url }}" type="image/x-icon" data-favicon>
        <link rel="icon" href="{{ '/assets/favicons/illusion/icon.svg' | url }}" type="image/svg+xml" data-favicon>
        <link rel="apple-touch-icon" href="{{ '/assets/favicons/illusion/apple-touch-icon.png' | url }}" data-favicon>
        <noscript>
            <link rel="stylesheet" type="text/css" href="{{ '/css/fonts.css' | url }}">
        </noscript>
        <script>
            if (navigator && navigator.serviceWorker) {
                navigator.serviceWorker.register('{{ '/sw.js' | url }}');
            }
        </script>
    </head>
    <body class="site-layout {{ bodyClass }}">
        {% include 'h-card.njk' %}
        <nav class="site-skip  skip-to-content" aria-label="Jump to parts of this page">
            <a href="#site-content">Skip to Content</a>
            <a href="#site-menu">Skip to Main Navigation</a>
            <a href="#site-footer">Skip to Footer</a>
            {% include 'report-a11y-issue.njk' %}
        </nav>
        {% include 'icons.njk' %}
        {% include 'svg-patterns.njk' %}
        <header class="site-header" id="site-header">
            <h1 class="site-header__title">
                <a href="{{ '/' | url }}">hello, yes.</a>
            </h1>
            <div class="site-header__navigation">
                <a class="button  site-header__open-menu" href="#site-menu">
                    <span class="button__text">Menu</span>
                    <span class="button__icon" aria-hidden="true">
                        <svg height="10" width="2"><use xlink:href="#icon-open-menu" /></svg>
                    </span>
                </a>
                <nav class="site-menu" id="site-menu" data-menu aria-labelledby="site-menu-label">
                    <div class="site-menu__header"> 
                        <h2 class="site-menu__header-title" id="site-menu-label">Main Navigation</h2>
                        <a class="button  site-menu__header-close" href="#site-content" data-close-site-menu>
                            <span class="button__text">close</span>
                        </a>
                    </div>
                    <ul class="menu  site-menu__navigation">
                        {% for name, item in menu %}
                            {% if not item.hidden %}
                                {% set submenuItemIsCurrent = false %}
                                {% for subitemName, subitem in item.submenu %}
                                    {% if (not submenuItemIsCurrent) and page.url == ( '/' + subitem.url + '/' ) %}
                                        {% set submenuItemIsCurrent = true %}
                                    {% endif %}
                                {% endfor %}
                                {% set itemIsCurrent = page.url == ( '/' + item.url + '/' ) %}
                                <li class="menu__item {% if item.small %}ctx--small{% endif %}">
                                    <a href="/{{ item.url | url }}" {% if itemIsCurrent or submenuItemIsCurrent %}aria-current="page"{% endif %}>
                                        <span class="text">{{ item.name }}</span>
                                        {% if not item.small %}
                                            <span class="icon" aria-hidden="true">
                                                <svg height="12" width="20">
                                                    <use xlink:href="#icon-nav-arrow">
                                                </svg>
                                            </span>
                                        {% endif %}
                                    </a>
                                    {% if item.submenu %}
                                        <ul class="menu__submenu  submenu">
                                            {% for subitemName, subitem in item.submenu %}
                                                <li class="submenu__item {% if subitem.small %}ctx--small{% endif %}">
                                                    <a href="/{{ subitem.url | url }}" {% if page.url == ( '/' + subitem.url + '/' ) %}aria-current="page"{% endif %}>
                                                        <span class="text">{{ subitem.name }}</span>
                                                        {% if not item.small %}
                                                            <span class="icon" aria-hidden="true">
                                                                <svg height="12" width="20">
                                                                    <use xlink:href="#icon-nav-arrow">
                                                                </svg>
                                                            </span>
                                                        {% endif %}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <div class="site-menu__footer">
                        {% include 'report-a11y-issue.njk' %}
                        {% include 'accent-color-settings.njk' %}
                    </div>
                </nav>
            </nav>
            </header>
        {{ content | safe }}
        <footer class="site-footer">
            <div class="site-footer__settings">
                <a class="button  site-footer__settings-toggle" href="#footer-settings-menu" data-toggle-footer-settings>
                    <span class="button__text">change color</span>
                    <span class="button__icon" aria-hidden="true">
                        <svg height="10" width="2"><use xlink:href="#icon-open-menu" /></svg>
                    </span>
                </a>
                <div class="accent-color-settings-menu" id="footer-settings-menu">
                    {% include 'accent-color-settings.njk' %}
                </div>
            </div>
            <p class="site-footer__copy" id="site-copy">&copy; 2021 Thomas Michael Semmler</p>
            {% include 'report-a11y-issue.njk' %}
        </footer>
        <script src="{{ '/assets/js/main.js' | url }}" type="module"></script>
    </body>
</html>