{% from 'img-srcset.macro.njk' import imgSrcset %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ metaDescription if metaDescription else (excerpt if excerpt else 'Design Engineering, Accessibility, Frontend Design & CSS') | safe }}">
        <meta name="og:description" content="{{ metaDescription if metaDescription else (excerpt if excerpt else 'Design Engineering, Accessibility, Frontend Design & CSS') | safe }}">
        <meta name="author" content="Thomas Michael Semmler">
        {%- if socialImages -%}
            {%- set pageSocialImg %}{{ meta.site.domain }}/previews/{{ title | slug }}.png{% endset-%}
            <meta property="og:image" content="{{pageSocialImg}}">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="@nachtfunke">
            <meta name="twitter:title" content="{{ title }}">
            <meta name="twitter:image" content="{{pageSocialImg}}">
            <meta name="twitter:image:alt" content="preview showing a blog post titled '{{ title }}' from helloyes.dev">
        {%- endif -%}
        <link rel="alternate" type="application/atom+xml" href="{{ meta.site.feeds.blog.xml.url }}" title="{{ meta.site.feeds.blog.title }} (JSON)">
        <link rel="alternate" type="application/json" href="{{ meta.site.feeds.blog.json.url }}" title="{{ meta.site.feeds.blog.title }} (atom)">
        <link rel="preload" as="font" href="{{ '/assets/fonts/work-sans-variable-subset.woff2' | url }}" as="font" type="font/woff2" crossorigin>
        <link rel="preload" as="font" href="{{ '/assets/fonts/poppins-regular-subset.woff2' | url }}" as="font" type="font/woff2" crossorigin>
        <link rel="preload" as="style" href="{{ '/css/fonts.css' | url }}">
        <title>{{ title }} - hello, yes. I'm Thomas Michael Semmler: CSS Developer, Designer & Developer from Vienna, Austria</title>
        <link rel="stylesheet" type="text/css" href="{{ '/css/fonts.css' | url }}" media="print" onload="this.media='all'">
        {% if syntaxHighlighting %}
            <link rel="stylesheet" type="text/css" href="{{ '/css/syntax-highlighting.css' | url }}" media="print" onload="this.media='screen'">
        {% endif %}
        <link rel="stylesheet" type="text/css" href="{{ '/css/style.css' | url }}">
        <link rel="icon" href="{{ '/assets/favicons/illusion/favicon.ico' | url }}" type="image/x-icon" data-favicon>
        <link rel="icon" href="{{ '/assets/favicons/illusion/icon.svg' | url }}" type="image/svg+xml" data-favicon>
        <link rel="apple-touch-icon" href="{{ '/assets/favicons/illusion/apple-touch-icon.png' | url }}" data-favicon>
        <noscript>
            <link rel="stylesheet" type="text/css" href="{{ '/css/fonts.css' | url }}">
        </noscript>
        <script>
            if (navigator && navigator.serviceWorker) {
                navigator.serviceWorker.register('{{ '/sw.js' | url }}');
            }
        </script>
        {%- if not env.isLocal -%}
            <script src="https://cdn.usefathom.com/script.js" data-site="XNJKGMIH" defer></script>
        {%- endif -%} 
    </head>
    <body class="site-layout {{ bodyClass }}">
        {% include 'h-card.njk' %}
        <nav class="site-skip  skip-to-content" aria-label="Jump to parts of this page">
            <a href="#site-content">Skip to Content</a>
            <a href="#site-menu">Skip to Main Navigation</a>
            <a href="#site-footer">Skip to Footer</a>
            {% include 'report-a11y-issue.njk' %}
        </nav>
        {% include 'icons.njk' %}
        {% include 'svg-patterns.njk' %}
        <header class="site-header" id="site-header">
            <figure class="site-header__title vers--logo">
                {{ imgSrcset({
                    alt: 'mini portrait of Thomas Michael Semmler',
                    src: '/assets/img/mini-portrait',
                    file: 'jpg',
                    width: '44',
                    height: '44'
                })}}
                <figcaption>
                    <a href="{{ '/' | url }}">hello, yes.</a>
                    <small>by Thomas M. Semmler</small>
                </figcaption>
            </figure>
            <div class="site-header__navigation">
                <button class="button  site-header__open-menu" aria-expanded="false" type="button" data-open-site-menu>
                    <span class="button__text">Menu</span>
                    <span class="button__icon" aria-hidden="true">
                        <svg height="10" width="2"><use xlink:href="#icon-open-menu" /></svg>
                    </span>
                </button>
                <nav class="site-menu" id="site-menu" data-site-menu aria-labelledby="site-menu-label">
                    <div class="site-menu__header"> 
                        <p class="site-menu__header-title" id="site-menu-label">Main Navigation</p>
                        <button class="button  site-menu__header-close" type="button" data-close-site-menu>
                            <span class="button__text">close</span>
                        </button>
                    </div>
                    <ul class="menu  site-menu__navigation">
                        {% for name, item in menu %}
                            {% if not item.hidden %}
                                {% set submenuItemIsCurrent = false %}
                                {% for subitemName, subitem in item.submenu %}
                                    {% if (not submenuItemIsCurrent) and page.url == ( '/' + subitem.url + '/' ) %}
                                        {% set submenuItemIsCurrent = true %}
                                    {% endif %}
                                {% endfor %}
                                {% set itemIsCurrent = page.url == ( '/' + item.url + '/' ) %}
                                <li class="menu__item {% if item.small %}ctx--small{% endif %}">
                                    <a href="/{{ item.url | url }}"
                                       {% if itemIsCurrent or submenuItemIsCurrent %} aria-current="page" {% endif %}
                                       {% if item.submenu %} aria-haspopup="true" aria-expanded="false" {% endif %}>
                                        <span class="text">{{ item.name }}</span>
                                    </a>
                                    {% if item.submenu %}
                                        <button class="button" aria-expanded="false" data-show-submenu>
                                            <span class="button__icon" aria-hidden="true">
                                                <svg height="16" width="14"><use xlink:href="#icon-arrow-down" /></svg>
                                            </span>
                                            <span class="sr-only">Show submenu for "{{ item.name }}"</span>
                                        </button>
                                        <ul class="menu__submenu  submenu" hidden>
                                            {% for subitemName, subitem in item.submenu %}
                                                <li class="submenu__item {% if subitem.small %}ctx--small{% endif %}">
                                                    <a href="/{{ subitem.url | url }}" {% if page.url == ( '/' + subitem.url + '/' ) %}aria-current="page"{% endif %}>
                                                        <span class="text">{{ subitem.name }}</span>
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <div class="site-menu__footer">
                        {% include 'report-a11y-issue.njk' %}
                        {% include 'accent-color-settings.njk' %}
                    </div>
                </nav>
            </nav>
            </header>
        {{ content | safe }}
        <footer class="site-footer">
            <div class="site-footer__settings">
                <button class="button  site-footer__settings-toggle" type="button" aria-expanded="false" data-toggle-footer-color-settings>
                    <span class="button__text">change color</span>
                    <span class="button__icon" aria-hidden="true">
                        <svg height="10" width="2"><use xlink:href="#icon-open-menu" /></svg>
                    </span>
                </button>
                <div class="accent-color-settings-menu" data-footer-color-settings>
                    {% include 'accent-color-settings.njk' %}
                </div>
            </div>
            <p class="site-footer__copy" id="site-copy">&copy; 2021 Thomas Michael Semmler / <a href="{{ meta.social.twitter }}" target="_blank" rel="me noopener nofollow">twitter</a> - <a href="{{ meta.social.linkedin }}" target="_blank" rel="me noopener nofollow">linkedin</a> - <a href="{{ meta.social.dribbble }}" target="_blank" rel="me noopener nofollow">dribbble</a> - <a href="{{ meta.social.polywork }}" target="_blank" rel="me noopener nofollow">polywork</a></p>
            {% include 'report-a11y-issue.njk' %}
        </footer>
        <script src="{{ '/assets/js/main.js' | url }}" type="module"></script>
    </body>
</html>