---
layout: base
bodyClass: "vers--single-post"
contentclass: 'case-study'
hideDate: true
---
{% from 'tag.macro.njk' import tag %}

{% if logo or logoImage %}
    <header class="case-study__header">
        <div class="case-study__logo">
            {% if logo %}
                {{ ('/src/assets/img/case-studies/' + id + '/' + logo + '.svg') | svgContents | safe }}
            {% elseif logoImage %}
                <img src="{{ '/assets/img/case-studies/' + id + '/' + logoImage }}" alt="logo for the project {{ title }}">
            {% endif %}
        </div>
        {% if caseStudyTags %}
            <ul class="list--horizontal  case-study__tags">
                {% for caseStudyTag in caseStudyTags %}
                    <li class="list__item">{{ tag({ text: caseStudyTag, large: true}) }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </header>
{% endif %}
<div class="case-study__content">{{ content | safe }}</div>