---
layout: base
bodyClass: "vers--page"
mainclass: "vers--content-page"
---

<main class="site-main  main  {{ mainclass }}" id="site-content">
    <div class="main__illustration  vers--pills" aria-hidden="true">
        {% if illustration %}
            <div class="main__illustration-icon">{{ ('/src/assets/svg/illustrations/' + illustration + ".svg") | svgContents | safe }}</div>
        {% endif %}
        <div class="main__illustration-big-pill">{{ '/src/assets/svg/shapes/pill-big.svg' | svgContents | safe }}</div>
    </div>
    <header class="main__header">
        <h1 class="main__title">{{ title }}</h1>
        {% if excerpt %}
            <p class="main__excerpt">{{ excerpt | safe }}</p>
        {% endif %}
    </header>
    <section class="main__content">{{ content | safe }}</section>
</main>