---
layout: base
bodyClass: "vers--page"
---

<main class="site-main  main  {{ mainclass }}" id="site-content">
    <div class="main__illustration" aria-hidden="true">
        {% if illustration %}
            {{ ('/src/assets/svg/illustrations/' + illustration + ".svg") | svgContents | safe }}
        {% endif %}
    </div>
    <header class="main__header">
        <h1 class="main__title">{{ title }}</h1>
        {% if excerpt %}
            <p class="main__excerpt">{{ excerpt | safe }}</p>
        {% endif %}
        {% if headerSticker or headerImage %}
            {% if headerSticker === 'about' %}
                <div class="sticker  theme--lighter  main__header-sticker">
                    <p class="sticker__text">Hello, yes. I'm Thomas Michael Semmler. Would you like to know more about me?</p>
                    <a class="c2a vers--ghost  sticker__action" href="{{ '/about' | url }}">Get to know me</a>
                </div>
            {% endif %}
        {% endif %}
    </header>
    <section class="main__content">{{ content | safe }}</section>
</main>