---
layout: base
bodyClass: "vers--page"
mainClass: "vers--listing-page"
pagination:
    data: collections.post
    size: 10
    reverse: true
    alias: posts
---

<main class="site-main  main  {{  }}" id="site-content">
    <header class="main__header">
        <h1 class="main__title">{{ title }}</h1>
        {% if excerpt %}
            <p class="main__excerpt">{{ excerpt | safe }}</p>
        {% endif %}
        {{ content | safe }}
    </header>
    <section class="main__post-listing">
        <ol class="posts-list" role="list" reversed>
            {% for post in posts %}
                <li class="posts-list__item">
                    <article class="listed-post">
                        <h1 class="listed-post__title"><a href="{{ post.url | url }}">{{ post.data.title | safe }}</a></h1>
                        <time class="listed-post__date">posted on {{ post.date | dateReadable }}</time>
                        <p class="listed-post__excerpt">{{ post.data.excerpt | safe }}</p>
                    </article>
                </li>
            {% endfor %}
            <li class="posts-list__item">
                <a class="c2a  vers--bold" href="{{ '/blog/archives' | url }}">See all posts in the archive</a>
            </li>
        </ol>
    </section>
</main>