---
layout: base
bodyClass: "vers--single-post"
---
{% from 'tag.macro.njk' import tag %}
<main class="site-main  main vers--single-post {{ mainclass }}" id="site-content" itemscope itemtype="https://schema.org/Article">
    <header class="main__header">
        <div class="main__illustration">
            {{ '/src/assets/svg/shapes/blog-blobs.svg' | svgContents | safe }}
        </div>
        <div class="main__header-text">
            {% if not caseStudy %}
                <h1 class="main__title" itemprop="name">{{ title }}</h1>
            {% else %}
                <h1 class="sr-only">{{ title }}</h1>
                <div class="main__title-logo" aria-hidden="true">
                    {% if logo %}
                        {{ ('/src/assets/img/case-studies/' + id + '/' + logo + '.svg') | svgContents | safe }}
                    {% elseif logoImage %}
                        <img src="{{ '/assets/img/case-studies/' + id + '/' + logoImage }}" alt="logo for the project {{ title }}">
                    {% endif %}
                </div>
                {% if caseStudyTags %}
                    <ul class="list--horizontal  main__title-tags">
                        {% for caseStudyTag in caseStudyTags %}
                            <li class="list__item">{{ tag({ text: caseStudyTag, small: true, dark: true}) }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}
            {% if not hideDate %}<time class="main__date" itemporp="datePublished">posted on {{ date | dateReadable }}</time>{% endif %}
        </div>
        <div class="main__header-intro">
            {% if excerpt %}
                <p class="main__excerpt" itemprop="about">{{ excerpt | safe }}</p>
            {% endif %}
        </div>
    </header>
    {% if content | toc | length and not hideToc%}
        <div class="main__outline" data-table-of-contents>
            <p class="main__outline-label">Table of Contents:</p>
            {{ content | toc | safe }}
        </div>
    {% endif %}
    <section class="main__content {{ contentclass }}" itemprop="articleBody">
        {{ content | safe }}
    </section>
</main>
{% if content | toc | length %}
    <script>

        // With a little bit of help from Ben Frain, thanks! https://www.youtube.com/watch?v=6KXPtcbR1x0
        if (document.querySelector('[data-table-of-contents]')) {
            const observerOptions = {
                root: null,
                rootMargin: '0px',
                treshhold: [1]
            };
            
            let observer = new IntersectionObserver( (entry => {
                const tocLinks = document.querySelectorAll('.toc a');

                entry.forEach( e => {
                    if ( e.isIntersecting === true ) {
                        tocLinks.forEach(link => link.classList.remove('is-current'));
                        document.querySelector(`a[href="#${e.target.id}"]`).classList.add('is-current');
                    }
                })
            }), observerOptions);

            const headings = document.querySelectorAll('h2, h3, h4, h5, h6');
            headings.forEach( heading => observer.observe(heading) );
        }

    </script>
{% endif %}