---
order: 0
era: "2023 - now"
major: true,
type: 'job'
time: '2023 - now'
title: 'Sr. Frontend Developer'
organisation: 'Codista GmbH & Co. KG'
location: 'Vienna, Austria'
eventTags: ['HTML', 'CSS', 'JavaScript', 'UI', 'React', 'Django', 'Wagtail', 'HTMX', '11ty', '#a11y']
---
{%- from 'tag.macro.njk' import tag %}

I joined [Codista](https://www.codista.com/de/) in 2023, when I was made aware of an opening during a CSS meetup. I've had been looking for a smaller team in which I could focus on more on development for the time being - and I feel lucky to have found the right place for that time.

Working in a small team has different challenges that I feel much better suited to handle. In a team that is entirely composed of experts in their field, I feel privileged to count myself among them, having the rare opportunity to focus on delivering the best work that I can, relying on all my various skills.