---
order: 4
era: "2021 - 2023"
type: 'education'
time: '2020 - 2023'
title: 'Counselling Sciences & Management of Social Systems'
organisation: 'ARGE Bildungsmanagement / SFU Vienna'
location: 'Vienna, Austria'
---