---
order: 4
era: "2016 - 2020"
type: 'education'
time: 'since 2020'
title: 'Counselling Sciences & Management of Social Systems'
organisation: 'ARGE Bildungsmanagement / SFU Vienna'
location: 'Vienna, Austria'
---