---
order: 1
era: "2021 - 2023"
type: 'job'
time: '2022 - 2023'
title: 'Technology Evangelist'
organisation: 'Lean-Coders GmbH'
location: 'Vienna, Austria'
eventTags: ['Advocacy', 'Speaking', 'Teaching', 'Coaching', 'Content Creation', 'Events']
---
{%- from 'tag.macro.njk' import tag %}

In this change of my role at Lean Coders, I was asked to take on a more public facing role and engage in more activities, that would result in the continuous education of our team and the growing adoption of methodologies, processes and values that I have been advocating for.

### Some Highlights

<ul class="list--horizontal">
    <li class="list__item">{{ tag({ text: "Organised and facilitated an internal event focussed just on CMS", dark: true, large: true, icon: 'icon-shine-marker'}) }}</li>
    <li class="list__item">{{ tag({ text: "Coordinated and facilitated an internal Brown-Bag-Session programme", dark: true, large: true, icon: 'icon-shine-marker'}) }}</li>
    <li class="list__item">{{ tag({ text: "Moderated and facilitated a research process, that would eventually help the company confidently choose a preferred CMS", dark: true, large: true, icon: 'icon-shine-marker'}) }}</li>
</ul>