---
order: 1
era: "2021 - now"
major: true
type: 'job'
time: 'since 2022'
title: 'UI Engineer & Product Designer'
organisation: 'Lean-Coders GmbH'
location: 'Vienna, Austria'
eventTags: ['Svelte', '11ty', 'UI', 'UX', '#a11y', 'HTML', 'CSS', 'JavaScript', 'Performance', 'React']
---
{%- from 'tag.macro.njk' import tag %}

I joined the Lean-Coders team in January of 2022 as a Senior Designer & Engineer, occupying a generalist position. As a designer, I support the UI/UX Team with visual Design, Design-System work as well as general tasks and some Design Engineering tasks. As a developer, I support on the frontend on React (Next-js, Remix) or Svelte projects as well as general frontend-development and general UI Engineering tasks.

### Some Highlights

<ul class="list--horizontal">
    <li class="list__item">{{ tag({ text: "tennant-theming for an existing component library", dark: true, large: true, icon: 'icon-shine-marker'}) }}</li>
    <li class="list__item">{{ tag({ text: "Introduced Design Tokens", dark: true, large: true, icon: 'icon-shine-marker'}) }}</li>
    <li class="list__item">{{ tag({ text: "Upgraded Figma Libraries for Design System work", dark: true, large: true, icon: 'icon-shine-marker'}) }}</li>
    <li class="list__item">{{ tag({ text: "Audited and fixed #a11y issues on a client site", dark: true, large: true, icon: 'icon-shine-marker'}) }}</li>
</ul>