---
order: 4
era: "2016 - 2021"
type: 'education'
time: 'September - December 2017'
title: '"Meditation & Mindfulness Teaching" Certification'
organisation: 'WIFI Wien'
location: 'Vienna, Austria'
---