---
layout: default
title: "Industry Experience"
metaDescription: "Comprehensive and chronological view of all my work experience over the years."
excerpt: "I’ve been working in the industry since 2010. This is a chronological summary of my experiences."
illustration: "design-engineering-lined"
headerSticker: "about"
permalink: /work/
---
{%- from 'experience-timeline-entry.macro.njk' import experienceTimelineEntry -%}

<ol class="wrap-as--full-column  experience-timeline" role="list">
    {%- for era, events in collections.orderedTimelineEvents | groupby('data.era') -%}
        <li class="experience-timeline__era">
            <time class="experience-timeline__date">{{ era }}</time>
                <ol class="experience-timeline__events">
                {%- for event in events -%}
                    <li class="experience-timeline__events-item">
                        {{ experienceTimelineEntry({
                            class: event.data.class,
                            id: event.data.order,
                            major: event.data.major,
                            type: event.data.type,
                            title: event.data.title,
                            organisation: event.data.organisation,
                            time: event.data.time,
                            location: event.data.location,
                            tags: event.data.eventTags,
                            details: event.templateContent | markdown
                        })}}
                    </li>
                {%- endfor -%}
            </ol>
        </li>
    {%- endfor -%}
</ol>

<div class="wrap-as--full-column">
    <hr style="margin-block-start: var(--site-padding)">
    <small>Some Icons are from the Noun Project:<br>
    Flag - created by Ian Zune<br>
    Learn - created by Icon Island<br>
    Magic - created by Shmidt Sergey
    </small>
</div>
<script src="{{ '/assets/js/timeline.js' | url}}"></script>