---
layout: default
title: "Case Studies"
metaDescription: "Lists selected Projects as Case Studies to demonstrate work experience."
excerpt: "This is a selction of the (visual) work that I did over the years, though all of them also include work without a visible outcome."
illustration: "design-engineering-lined"
---
{% from 'tag.macro.njk' import tag %}

<ul class="case-studies-list">
    {% for caseStudy in collections.orderedCaseStudies %}
        <li class="case-studies-list__item">
            <article class="case-study--listed" style="--cover-color: {{ caseStudy.data.color }}">
                <div class="case-study__cover">
                    {{ ('/src/assets/img/case-studies/' + caseStudy.data.id + '/' + caseStudy.data.coverLogo + '.svg') | svgContents | safe }}
                </div>
                <div class="case-study__text">
                    <h2 class="case-study__title">{{ caseStudy.data.title }}</h2>
                    <p class="case-study__excerpt">{{ caseStudy.data.excerpt }}</p>
                    {% if caseStudy.data.caseStudyTags %}
                        <ul class="list--horizontal  case-study__tags">
                            {% for caseStudyTag in caseStudy.data.caseStudyTags %}
                                <li class="list__item">{{ tag({ text: caseStudyTag, large: true}) }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <a class="c2a vers--bold  case-study__action" href="{{ caseStudy.url | url }}">see Details</a>
                </div>
            </article>
        </li>
    {% endfor %}
</ul>