---
order: 9
era: "2021 - now"
major: true
type: 'job'
time: '2016 - 2021'
title: 'Sr. Frontend Dev. & UI/UX Designer'
organisation: 'easyname GmbH'
location: 'Vienna, Austria'
eventTags: ['HTML', '(S)CSS', 'Brand', 'JavaScript', 'Performance', 'React']
---
Working with the people at easyname was pivotal for me. I entered the country at a time where neither frontend development, nor design was considered an integral part. I was brought in also with the intention to improve on this. I had the great privilege of joining a diverse team handpicked by Stephanie Anderson. The team kept growing and kept being expanded by extraordinary individuals.

{%- from 'intermezzo.macro.njk' import intermezzo -%}
{%- from 'work-diagram.macro.njk' import workDiagram -%}
{{ intermezzo({
    title: 'Establishing design through sustainable integration', 
    content: '<p>At the point of joining the company, I had the unique opportunity of taking an inventory of previous design decisions and their potential. Instead of suggesting waves of redesigns, I opted for small, concise and sustainable changes to brand, frontend and UX.</p><p>My understanding about the role of design not just in the processes, but also as a contributing perspective in product development and how it serves individuals, teams and organisations grew massively thanks to the opportunities that were given to me there.</p>', 
    image: workDiagram({ 
        company: 'easyname', 
        domains: ['UX', 'Design', 'Brand', 'Frontend', 'Backend'] 
        }) 
    }) 
}}