---
order: 2
era: "2021 - now"
major: true
type: 'job'
time: '2016 - 2021'
title: 'Sr. Frontend Dev. & UI/UX Designer'
organisation: 'easyname GmbH'
location: 'Vienna, Austria'
eventTags: ['HTML', '(S)CSS', 'Brand', 'JavaScript', 'Performance', 'React']
---
{%- from 'tag.macro.njk' import tag %}

Working with the people at easyname was pivotal for me. I entered the company at a time where neither frontend development, nor design was considered an integral part. I was brought in also with the intention to improve on this. I had the great privilege of joining a diverse team handpicked by Stephanie Anderson. The team kept growing and kept being expanded by extraordinary individuals.

I had the great privilege of joining a diverse team handpicked by Stephanie Anderson. The team kept growing and kept being expanded by extraordinary individuals.

### Some Highlights

<ul class="list--horizontal">
    <li class="list__item">{{ tag({ text: "Created VPS Product Landingage", dark: true, large: true, icon: 'icon-shine-marker'}) }}</li>
    <li class="list__item">{{ tag({ text: "Engineered the UX of new Products & Features", dark: true, large: true, icon: 'icon-shine-marker'}) }}</li>
    <li class="list__item">{{ tag({ text: "Refactored ~90% of the CSS", dark: true, large: true, icon: 'icon-shine-marker'}) }}</li>
    <li class="list__item">{{ tag({ text: "Redesigned & Refactored the Domaincheck UI/UX", dark: true, large: true, icon: 'icon-shine-marker'}) }}</li>
    <li class="list__item">{{ tag({ text: "Designed new Product / Feature UI/UX", dark: true, large: true, icon: 'icon-shine-marker'}) }}</li>
    <li class="list__item">{{ tag({ text: "Created a Color System", dark: true, large: true, icon: 'icon-shine-marker'}) }}</li>
    <li class="list__item">{{ tag({ text: "Removed Bootstrap", dark: true, large: true, icon: 'icon-shine-marker'}) }}</li>
    <li class="list__item">{{ tag({ text: "Created a Styleguide", dark: true, large: true, icon: 'icon-shine-marker'}) }}</li>
    <li class="list__item">{{ tag({ text: "Unified & Evolved the visual Brand", dark: true, large: true, icon: 'icon-shine-marker'}) }}</li>
</ul>