---
order: 6
era: '2011 - 2015'
major: true
type: 'job'
time: '2011 - 2015'
title: 'Junior Web Developer'
organisation: 'ip-systems informationssysteme eU'
location: 'Vienna, Austria'
eventTags: ['HTML', '(S)CSS', 'PHP', 'Sketch', 'jQuery']
---
{%- from 'intermezzo.macro.njk' import intermezzo %}
{%- from 'work-diagram.macro.njk' import workDiagram %}
{%- from 'tag.macro.njk' import tag %}

I consider my time at ip-systems to be my very first job, in spirit. They are a full-service agency, which for every day work meant communicating with clients, as well as conceptualising, planning and actually developing website projects. From updating existing legacy systems with new content or planning new website projects from scratch to finish, with small or medium-sized companies as clients.

My desk neighbour, Daniel Mikesch ([@alayron](https://twitter.com/alayron)) turned out to not only be a great person to work with but also in a way a mentor, introducing me to jquery, constantly answering my questions and in general be very supportive of someone enterying the industry.

## Some Highlights

<ul class="list--horizontal">
    <li class="list__item">{{ tag({ text: "Created 13 different Websites for Clients", dark: true, large: true, icon: 'icon-shine-marker'}) }}</li>
</ul>