---
order: 6
era: "2016 - 2020"
major: true
type: 'job'
title: 'Freelance Lecturer HTML/CSS'
organisation: 'SAE Austria GmbH'
time: '2016 - 2017'
location: 'Vienna, Austria'
eventTags: ['HTML', '(S)CSS', 'Jekyll', 'Teaching']
---

I consider myself very fortunate for being able to teach people at SAE Vienna. Teaching their meant introducing people to the very first concepts of making 
websites. I was able to structure my course and even finetune it to a given groups specific needs. I maintained a slack channel for students and provided them with an online skriptum. Teaching people did turn out to be one of the most rewarding things I had ever done to this point.