---
order: 9
era: "1996 - 2010"
title: 'Apprenticeship Media designer'
type: 'job'
major: true
time: 'October - November 2010'
organisation: 'siemax webREALISATION'
location: 'Carinthia, Austria'
eventTags: ['HTML', 'CSS', 'Webdesign', 'Photoshop', 'Content']
---