@use '../tools/mixins/media' as media;

@mixin meta-label {
    font-family: var(--typeface-headings);
    font-size: .9em;
    line-height: 1.25;
    color: hsl(var(--color-hsl-dark) 31%);
    font-feature-settings: "c2sc", "smcp";
}

.meta-label {
    @include meta-label();
}