@use '../tools/mixins/media' as media;
@use 'meta-label' as *;

.pull-link {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: stretch;
    background-color: #fff;
    border: 4px solid currentcolor;
    color: var(--color-highlight);
    padding: 1em;
    border-radius: 5px;
    box-shadow: var(--shadow-fat);
    position: relative;
    transition: color var(--base-animation-duration) var(--base-easing);

    &:hover, :focus {
        color: var(--color-accent-500);
    }

    @include media.widerThan(caramel) {
        font-size: .85em;
    }

    @include media.widerThan(honey) {
        font-size: 1em;
    }

    @include media.widerThan(syrup) {
        font-size: 1.125em;
    }

    &__link {
        font-family: var(--typeface-headings);
        font-weight: 575;
        text-underline-offset: .15em;
        text-decoration-color: hsl(var(--color-hs-highlight) 80%);
        transition: inherit;
        transition-property: text-decoration-color;
        font-size: 1.125em;

        @media (hover: hover) {
            &::before {
                content: '';
                position: absolute;
                inset: 0;
            }
        }
    }

    &__caption {
        @include meta-label();

        &::before {
            content: '\2014';
            display: inline-block;
            margin-inline-end: .5em;
        }
    }

    @include media.narrowerThan(honey) {
        
    }
}