.tag {
    font-family: var(--typeface-headings);
    font-weight: 500;
    line-height: 1;
    padding: .5em 1em;
    background-color: var(--color-accent-100);
    color: var(--color-primary);
    border-radius: 8px;
    font-size: .8125em;
}