---
order: 2
id: 'farbe-am-stein'
title: 'Farbe am Stein'
excerpt: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.'
caseStudyTags: ['Branding', 'Business Cards', 'Website Design']
color: '#163756'
coverLogo: 'logo-shape'
---

Hello yes.