---
order: 1
id: 'hello-yes'
title: 'hello, yes.'
excerpt: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.'
caseStudyTags: ['Eleventy', 'Branding', 'Accessibility', 'HTML', 'SCSS', 'SVG', 'Vanilla JavaScript', 'Illustration']
color: '#F7ABBE'
coverLogo: 'logo-shape'
---

Hello yes.