---
order: 3
id: 'sae-frontend'
title: 'Education Online Scriptum for SAE Students'
excerpt: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.'
caseStudyTags: ['HTML', 'CSS', 'Jekyll', 'Eleventy', 'Teaching']
color: '#FFEB66'
coverLogo: 'logo-shape'
---

Hello yes.